#parent {
    width: 1000px;
}
#parent div {
    height: 50px;
}
span, input {
    padding: 1px;
    margin: 2px;
}
.line {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}
.line span {
    line-height: 50px;
}
.line span, .line input {
    flex: 1;
    font-size: 22px;
    text-align: center; 
}
.line input {
    width: 0px;
}
.memoBox {
    background-color: rgb(230, 230, 230);
    color: rgb(138, 138, 138);
}
#clickButton, #clearButton {
    flex: 1;
    border: 1px rgb(182, 182, 182) solid;
    border-radius: 10px;
}